version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.7.2

    working_directory: ~/monzo-python

    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "requirements.txt" }}
            - v1-dependencies-
      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}
      - run:
          name: lint
          command: |
            . venv/bin/activate
            black --py36 --check monzo/ tests
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            python -m pytest tests/

      - store_artifacts:
          path: test-reports
          destination: test-reports